@inject IHtmlLocalizer<VisitorRegistry.Web.SharedResource> SharedLocalizer
@inject Microsoft.Extensions.Options.IOptions<AppSettings> appSettings
@{
    Layout = "_LayoutHtml";
    var version = System.Reflection.Assembly.GetAssembly(typeof(Startup)).GetName().Version;
    var identitaCorrente = (VisitorRegistry.Web.Areas.IdentitaViewModel)
        ViewData[VisitorRegistry.Web.Areas.IdentitaViewModel.VIEWDATA_IDENTITACORRENTE_KEY];
    var controller = ViewContext.RouteData.Values["controller"]?.ToString();
    var action = ViewContext.RouteData.Values["action"]?.ToString();
    var isVisitorIndex = controller == "Visitor" && action == "Index";
    var isVisitorController = controller == "Visitor";
    // URL del logo: se siamo nel controller Visitor, vai a Start
    var logoUrl = isVisitorController ? Url.Action("Start", "Home") : "/";
}
@section metas {
    @RenderSection("metas", false)
}
@section styles {
    @RenderSection("styles", false)
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }

        #pageId.onit-page {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }
        /* Il contenuto principale deve espandersi per spingere il footer in basso */
        .onit-page-body-wrapper {
            flex: 1 0 auto;
            display: flex;
            flex-direction: column;
        }

        .onit-page > footer {
            flex-shrink: 0;
            margin-top: auto;
        }
        /* Background nero 10% solo nella vista Index */
        body[data-controller="Visitor"][data-action="Index"] .onit-page-menu {
            background-color: rgba(0, 0, 0, 0.1) !important;
        }
        /* Logo in alto a sinistra nella Index */
        body[data-controller="Visitor"][data-action="Index"] .navbar-brand {
            margin-left: 0 !important;
            margin-right: auto !important;
        }

        body[data-controller="Visitor"][data-action="Index"] .onit-page-menu.navbar {
            padding: 0 !important;
        }

        body[data-controller="Visitor"][data-action="Index"] .onit-suites-logo {
            height: 100px !important;
        }
    </style>
}
<div id="pageId" class="onit-page">
    <div class="onit-page-sticky-top" id="onit-page-sticky-top">
        <nav class="navbar navbar-expand-lg navbar-dark onit-page-menu">
            <div class="container-fluid">
                <a class="navbar-brand mx-auto" href="@logoUrl">
                    @if (isVisitorIndex)
                    {
                        <img class="onit-suites-logo index-logo" src="~/images/visitor-register-logo.png" />
                    }
                    else
                    {
                        <img class="onit-suites-logo" src="~/images/visitor-register-logo.png" />
                    }
                </a>
            </div>
        </nav>
        @RenderSection("pageTitle", false)
    </div>
    <div class="onit-page-body-wrapper">
        @RenderSection("pageSubtitle", false)
        @RenderBody()
    </div>
    <footer style="background-color: rgba(0,0,0,0.10);" class="py-3 mt-4">
        <p class="text-center" style="font-size: 16px; margin: 0; color: black;">
            Progetto Visitor Registry
        </p>
    </footer>
</div>
@section googlehead {
    @* Codice Google Analytics/commentato *@
}
@section scripts {
    <script type="text/javascript">
        @this.RenderAlertsWithToastify()
        // Aggiungiamo gli attributi controller/action al body
        document.body.setAttribute('data-controller', '@controller');
        document.body.setAttribute('data-action', '@action');
    </script>
    @RenderSection("scripts", false)
}
