@model IEnumerable<VisitorRegistry.Services.Visitors.VisitorListDTO>

<h2>Elenco Visitatori</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Stato Visita</th>
            <th>Check-in</th>
            <th>Check-out</th>
            <th>Gestione</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var visitor in Model)
        {
            <tr>
                <td>@visitor.Id</td>
                <td>@visitor.Nome</td>
                <td>@visitor.Cognome</td>
                <td>
                    @if (visitor.CheckIn == default)
                    {
                        <span class="badge bg-warning">Visita programmata</span>
                    }
                    else if (visitor.CheckOut == null)
                    {
                        <span class="badge bg-success">Visita in corso</span>
                    }
                    else
                    {
                        <span class="badge bg-secondary">Visita terminata</span>
                    }
                </td>

                <td>
                    @(visitor.CheckIn.HasValue? visitor.CheckIn.Value.ToString("HH:mm") : "—")
                </td>
                <td>
                    @if (visitor.CheckOut.HasValue)
                    {
                        @visitor.CheckOut.Value.ToString("dd/MM/yyyy HH:mm")
                    }
                    else
                    {
                        <span class="text-muted">—</span>
                    }
                </td>
                <td>
                    <a class="btn btn-info btn-sm me-1"
                       asp-action="Details"
                       asp-controller="Presence"
                       asp-route-id="@visitor.CurrentPresenceId">
                        Dettagli visita
                    </a>

                    <a class="btn btn-warning btn-sm"
                       asp-action="Edit"
                       asp-controller="Visitor"
                       asp-route-id="@visitor.Id">
                        Modifica
                    </a>
                </td>

            </tr>
        }
    </tbody>
</table>
